.container {
    display: flex;
    flex-direction: row;
    position: relative; /* position 기준영역 설정 */
    min-height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    width: 1240px;
    height: 100%;
}
.content {
    width: 82%; 
    background-color: lightsalmon;
}
.aside {
    width: 18%; 
    min-width: 200px;
    background-color: lightseagreen;
}


